.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  width: 100%;
  min-height: 64px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font: inherit;
    font-size: 0;
    line-height: 0;

    position: relative;

    width: 24px;
    height: 24px;

    padding: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;

    &--burger {
      &::before {
        content: "";

        position: absolute;
        
        width: 18px;
        height: 12px;

        background-image: url(../img/svg/burger.svg);
      }
    }

    &--plan {
      @extend ._icon-plus;
      &::before {
        @extend %ic;
        font-size: 14px;
  
        color: $blue;
      }
    }

    @media (min-width: $tablet-width) {
      &--plan {
        justify-content: space-between;

        font-size: 12px;
        line-height: 16px;
  
        width: 120px;
  
        color: $blue;
  
        &::before {
          font-size: 10px;
  
          padding: 0;
        }
      }
    }
  }

  &__title {
    display: block;

    font-size: 14px;
    line-height: 18px;

    
    color: $black87;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__plan {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
  

  }
}